//Mixins
@mixin transition ($val) {
	-webkit-transition: $val; 
    -moz-transition: $val; 
    -o-transition: $val; 
     transition: $val; 
}

@mixin transform ($val) {
	-webkit-transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	-o-transform: $val;
	transform: $val;
}

@mixin animation ($val) {
	-webkit-animation: $val;
	-moz-animation: $val;
	-ms-animation: $val;
	-o-animation: $val;
	animation: $val;
}

@mixin transform-origin ($val) {
	-webkit-transform-origin: $val;
	-moz-transform-origin: $val;
	-ms-transform-origin: $val;
	-o-transform-origin: $val;
	transform-origin: $val;
}

@mixin box-sizing ($box-sizing) {
	-webkit-box-sizing: $box-sizing; 
	-moz-box-sizing: $box-sizing;    
	box-sizing: $box-sizing;    
}

@mixin respond-to($media) {
  @if $media == small-screens {  //Min-Width 600px
    @media only screen and (min-width: $break-small) { @content; }
  }
  @else if $media == medium-screens { //Min-Width 960px
    @media only screen and (min-width: $break-medium) { @content; }
  }
  @else if $media == large-screens { //Min-Width 1024px
     @media only screen and (min-width: $break-large) { @content; }
  }
}
